*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
}


/* Elaboracion del Header
Se fija y se hace transparente */
.header{
    height: 75px;
    width: 100%;
    position: absolute;
    background-color: transparent;
    margin: 0 auto;
}

/* Estilizamos div que va contener la informacion del Header */
.container {
    width: 100%;
    height: 75px;
    display: flex;
    position: relative;
    justify-content: space-between;  
}

.logo-conteiner {
    width: 50%;
    height: 75px ;
    display: flex;
    position: relative;
    margin-left: 20px;
    align-items: center;
}

.logo span {
    color: #e48400;
    font-weight: 600;
}

.logo-conteiner:hover a {
    transition: all .5s;
    transform: rotate(360deg);
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    max-width: 340px;
    color: rgba(255,255,255,0.9);
    vertical-align: middle; 
    word-spacing: 4px;
}

.navigation ul {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    font-size: 11px;
    letter-spacing: 1px;
}

.navigation ul li {
    display: inline-block;
    letter-spacing: 1px;
    word-spacing: 0.25rem;
    margin-left: 30px;
    position: relative;
}

.navigation ul li a:hover{
    color:white;
}

/* Primera sección*/
.main-section {
    height: 100vh;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(rgba(5,7,12,0.4), rgba(5,7,12,0.4)), url("../img/espacio.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center
}

/* Segunda sección */
.two-section {
    width: 100%;
    height: 568px;  
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 40px 90px; 
}

@media (max-width: 1024px) {
    .two-section {
        width: 100%;
        height: 1050px;  
        background-color: #F0F0F0;
        display: block;
        justify-content: center;
        align-items: center; 
        padding: 15px;
    }
}

@media (max-width: 360px) {
    .two-section {
        width: 100%;
        height: 1100px;  
        background-color: #F0F0F0;
        display: block;
        justify-content: center;
        align-items: center; 
        padding: 10px;
    }
}

/* Tercera sección */
.three-section {
    width: 100%;
    height: 499px;  
    padding: 0px 15px;
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container {
    box-sizing: border-box;
    background-size: contain;
    width: 90%;
    height: 62.22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container1 {
   background-image: url(/img/img_section_3/comet.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   max-width: 100%;
   width:100%;
   height:100%
}

.flex-container2 {
    background-image: url(/img/img_section_3/telepizza.jpg);
    background-size: contain;
   background-repeat: no-repeat;
    max-width: 100%;
    width:100%;
    height:100%
}

.flex-container3 {
    background-image: url(/img/img_section_3/universidad-politecnica-valencia.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width:100%;
    height:100%
}

.flex-container4 {
    background-image: url(/img/img_section_3/mcdonals.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width:100%;
    height:100%
}

.three-clientes{
    box-sizing: border-box;
    background-size: contain;
    width: 60%;
    height: 62.22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container5 {
    background-image: url(/img/img_section_3/universidad-de-valencia.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width:100%;
    height:100%
}

.flex-container6 {
    background-image: url(/img/img_section_3/grefusa.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width:100%;
    height:100%
}

.flex-container7 {
    background-image: url(/img/img_section_3/lavernia.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width:100%;
    height:100%
}

.final-cliente {
    color: black;
    padding: 60px 0px 0px;
    width: 60%;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-container8{
    border:solid 2px #e48400;
    padding: 11px 0 0 0;
    width: 201.42px;
    height: 46px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

/* Cuarta sección*/
.sevices-section {
    background-color: white;
    color:black;
    width: 100%;
    height: 937px;  
    padding: 40px 90px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
}

.first-three{
    background-color: white;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-around;
}

.five-container {
    background-color: white;
    width: 360px;
    height: 340px;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid #777;
    margin: 10px 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.five-container2 {
    background-color: white;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.second-three{
    background-color:  white;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1024px) {
    .sevices-section {
        width: 100%;
        height: 2100px;
        padding: 10px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        box-sizing: border-box;
    } 
    .five-container {
        display: block;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 10px 0 ;
        padding: 5px;
    }
      
    .first-three{
        background-color: white;
        width: 100%;
        height: 1000px;
        display: block;
        justify-content: center;
    }
    .second-three{
        background-color: white;
        width: 100%;
        height: 1000px;
        display: block;
        justify-content: center;
    }
}

@media (max-width: 360px) {
    .sevices-section {
        width: 100%;
        height: 2200px;
        padding: 0px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        box-sizing: border-box;
    } 
    .five-container {
        background-color: white;
        width: 100%;
        height: 350px;
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        display:block;
        flex-wrap: wrap;  
        align-items: center;
        justify-content: center;        
    }
    .first-three{
        background-color: white;
        width: 100%;
        height: 50%;
        padding: 0px;
        display: block;
        justify-content: center;
    }
    .second-three{
        background-color: white;
        width: 100%;
        height: 50%;
        padding: 0px;
        display: block;
        justify-content: center;
    }
}

/*Quinta sección*/
.six-section {
    width: 100%;
    height: 700px;
    background-color:#F0F0F0;
}
.contact {
    width: 80%;
    margin: auto;
    
}